:root {
  --red-cross-red: #ed1b2e;
  --red-cross-gray: #9f9fa3;
  --red-cross-black: #000000;
  --red-cross-white: #ffffff;
  --primary-blue: #0091cd;
  --secondary-gray: #d7d7d8;
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
  background: linear-gradient(to bottom, #ffffff, var(--secondary-gray));
  color: var(--red-cross-black);
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* Typography */
h1 {
  font-size: 2rem;
  color: var(--red-cross-white);
}

h2,
h3,
h4 {
  color: var(--red-cross-red);
}

p {
  font-size: 1rem;
  color: var(--red-cross-gray);
  font-style: italic;
}

/* Buttons */
button {
  background-color: var(--red-cross-red);
  color: var(--red-cross-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #c81828;
  transform: scale(1.05);
}

/* Hover effects for cards */
.card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.card:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c81828;
}

/* Responsive typography */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }
}
